body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xl: 20px;
  
    /* Colors */
    --color-seagreen-100: #306b42;
    --color-seagreen-200: rgba(55, 123, 87, 0);
    --color-limegreen: #3aca2d;
    --color-white: #fff;
  
    /* Border radiuses */
    --br-5xs: 8px;
  }
  