.picks,
.stock-options-for,
.stocks {
  position: absolute;
  display: inline-block;
}
.picks {
  top: 62px;
  left: 62px;
  font-size: var(--font-size-16xl);
  width: 110px;
}
.stock-options-for,
.stocks {
  left: 18px;
}
.stocks {
  top: 213px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  width: 75px;
}
.stock-options-for {
  top: 237px;
  width: 308px;
}
.stockpage-child {
  position: absolute;
  top: 119px;
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: rgba(55, 123, 87, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  width: 108px;
  height: 34px;
}
.stockpage-item {
  position: absolute;
  top: 278px;
  left: 61px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-inner {
  position: absolute;
  top: 261px;
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc {
  position: absolute;
  top: 269px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 72px;
  height: 9px;
}
.real-estate,
.technology {
  top: 128px;
  font-size: var(--font-size-mini);
  font-weight: 500;
}
.technology {
  position: absolute;
  left: 27px;
  display: inline-block;
  width: 90px;
  height: 7px;
}
.real-estate {
  left: 158px;
  width: 81px;
  height: 14px;
}
.healthcare,
.nasdaq-appl,
.real-estate {
  position: absolute;
  display: inline-block;
}
.healthcare {
  top: 128px;
  left: 286px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  width: 79px;
  height: 14px;
}
.nasdaq-appl {
  top: 281px;
  left: 50px;
  color: var(--color-limegreen);
  width: 90px;
  height: 9px;
}
.rectangle-div,
.stockpage-child1,
.stockpage-child2 {
  position: absolute;
  top: 119px;
  left: 144px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  width: 108px;
  height: 34px;
}
.stockpage-child1,
.stockpage-child2 {
  left: 271px;
}
.stockpage-child2 {
  top: 166px;
  left: 16px;
}
.industry-4,
.industry-5,
.industry-6 {
  position: absolute;
  top: 174px;
  left: 27px;
  font-size: var(--font-size-mini);
  font-weight: 500;
  display: inline-block;
  width: 90px;
  height: 7px;
}
.industry-5,
.industry-6 {
  left: 162px;
  width: 73px;
  height: 14px;
}
.industry-6 {
  left: 289px;
}
.stockpage-child3,
.stockpage-child4 {
  position: absolute;
  top: 166px;
  left: 144px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  width: 108px;
  height: 34px;
}
.stockpage-child4 {
  left: 271px;
}
.ellipse-div,
.stockpage-child5 {
  position: absolute;
  top: 65px;
  left: 16px;
  border-radius: 50%;
  background-color: #71de9c;
  width: 36px;
  height: 36px;
}
.stockpage-child5 {
  top: 77px;
  left: 176px;
  background-color: transparent;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 14px;
  height: 14px;
}
.div {
  position: absolute;
  top: 79px;
  left: 181px;
  font-size: 8px;
  font-weight: 600;
  display: inline-block;
  width: 4px;
  height: 8px;
}
.image-1-icon {
  position: absolute;
  top: 269px;
  left: 24px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.frame-div {
  position: absolute;
  top: 282px;
  left: 249px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child6 {
  position: absolute;
  top: 261px;
  left: 204px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc1,
.nasdaq-appl1 {
  position: absolute;
  left: 238px;
  display: inline-block;
  height: 9px;
}
.apple-inc1 {
  top: 269px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl1 {
  top: 281px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-2-icon {
  position: absolute;
  top: 269px;
  left: 212px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child7 {
  position: absolute;
  top: 382px;
  left: 60px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child8 {
  position: absolute;
  top: 365px;
  left: 15px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc2,
.nasdaq-appl2 {
  position: absolute;
  left: 49px;
  display: inline-block;
  height: 9px;
}
.apple-inc2 {
  top: 373px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl2 {
  top: 385px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-3-icon {
  position: absolute;
  top: 373px;
  left: 23px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child9 {
  position: absolute;
  top: 386px;
  left: 248px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child10 {
  position: absolute;
  top: 365px;
  left: 203px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc3,
.nasdaq-appl3 {
  position: absolute;
  left: 237px;
  display: inline-block;
  height: 9px;
}
.apple-inc3 {
  top: 373px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl3 {
  top: 385px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-4-icon {
  position: absolute;
  top: 373px;
  left: 211px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child11 {
  position: absolute;
  top: 486px;
  left: 62px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child12 {
  position: absolute;
  top: 469px;
  left: 17px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc4,
.nasdaq-appl4 {
  position: absolute;
  left: 51px;
  display: inline-block;
  height: 9px;
}
.apple-inc4 {
  top: 477px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl4 {
  top: 489px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-5-icon {
  position: absolute;
  top: 477px;
  left: 25px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child13 {
  position: absolute;
  top: 490px;
  left: 250px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child14 {
  position: absolute;
  top: 469px;
  left: 205px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc5,
.nasdaq-appl5 {
  position: absolute;
  left: 239px;
  display: inline-block;
  height: 9px;
}
.apple-inc5 {
  top: 477px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl5 {
  top: 489px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-6-icon {
  position: absolute;
  top: 477px;
  left: 213px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child15 {
  position: absolute;
  top: 590px;
  left: 61px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child16 {
  position: absolute;
  top: 573px;
  left: 16px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc6,
.nasdaq-appl6 {
  position: absolute;
  left: 50px;
  display: inline-block;
  height: 9px;
}
.apple-inc6 {
  top: 581px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl6 {
  top: 593px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-7-icon {
  position: absolute;
  top: 581px;
  left: 24px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child17 {
  position: absolute;
  top: 594px;
  left: 249px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child18 {
  position: absolute;
  top: 573px;
  left: 204px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc7,
.nasdaq-appl7 {
  position: absolute;
  left: 238px;
  display: inline-block;
  height: 9px;
}
.apple-inc7 {
  top: 581px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl7 {
  top: 593px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-8-icon {
  position: absolute;
  top: 581px;
  left: 212px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child19 {
  position: absolute;
  top: 694px;
  left: 62px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child20 {
  position: absolute;
  top: 677px;
  left: 17px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc8,
.nasdaq-appl8 {
  position: absolute;
  left: 51px;
  display: inline-block;
  height: 9px;
}
.apple-inc8 {
  top: 685px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl8 {
  top: 697px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-9-icon {
  position: absolute;
  top: 685px;
  left: 25px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child21 {
  position: absolute;
  top: 698px;
  left: 250px;
  width: 100px;
  height: 67px;
  overflow: hidden;
}
.stockpage-child22 {
  position: absolute;
  top: 677px;
  left: 205px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumseagreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 174px;
  height: 92px;
}
.apple-inc9,
.nasdaq-appl9 {
  position: absolute;
  left: 239px;
  display: inline-block;
  height: 9px;
}
.apple-inc9 {
  top: 685px;
  font-weight: 600;
  width: 72px;
}
.nasdaq-appl9 {
  top: 697px;
  color: var(--color-limegreen);
  width: 90px;
}
.image-10-icon {
  position: absolute;
  top: 685px;
  left: 213px;
  width: 21px;
  height: 23px;
  object-fit: cover;
}
.stockpage-child23 {
  position: absolute;
  top: 26px;
  left: 123px;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 147px;
  height: 20px;
}
.stockpage-child24 {
  position: absolute;
  top: 786px;
  left: 0;
  background-color: #306c43;
  width: 393px;
  height: 66px;
}
.ggprofile-icon {
  top: 804px;
  left: 119px;
  width: 30px;
  height: 30px;
}
.ggprofile-icon,
.tablervs-icon,
.vector-icon {
  position: absolute;
  overflow: hidden;
}
.vector-icon {
  height: 3.52%;
  width: 7.63%;
  top: 94.37%;
  right: 45.29%;
  bottom: 2.11%;
  left: 47.07%;
  max-width: 100%;
  max-height: 100%;
}
.tablervs-icon {
  top: 803px;
  left: 251px;
  width: 33px;
  height: 32px;
}
.mdihome-outline-icon,
.vector-icon1 {
  position: absolute;
  top: 801px;
  left: 48px;
  width: 37px;
  height: 36px;
  overflow: hidden;
}
.vector-icon1 {
  height: 3.05%;
  width: 6.87%;
  top: 94.48%;
  right: 12.21%;
  bottom: 2.46%;
  left: 80.92%;
  max-width: 100%;
  max-height: 100%;
}
.stockpage {
  position: relative;
  background-color: #012b15;
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
