.draft {
    position: absolute;
    top: 63px;
    left: 62px;
    font-size: 35px;
    display: inline-block;
    width: 123px;
  }
  .draftlist-child {
    position: absolute;
    top: 66px;
    left: 16px;
    border-radius: 50%;
    background-color: #71de9c;
    width: 36px;
    height: 36px;
  }
  .draftlist-item {
    position: absolute;
    top: 122px;
    left: 120px;
    border-radius: var(--br-5xs);
    background-color: rgba(55, 123, 87, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #3aca2d;
    box-sizing: border-box;
    width: 155px;
    height: 37px;
  }
  .player-1,
  .player-7,
  .start-draft {
    position: absolute;
    font-weight: 500;
    display: inline-block;
  }
  .start-draft {
    top: 130px;
    left: 152px;
    font-size: 17px;
    width: 90px;
    height: 9px;
  }
  .player-1,
  .player-7 {
    top: 178px;
    left: 28px;
    width: 56px;
    height: 16px;
  }
  .player-7 {
    top: 812px;
    width: 58px;
    height: 18px;
  }
  .players-stocks-child,
  .players-stocks-item {
    position: absolute;
    height: 100%;
    width: 8.49%;
    top: 0;
    right: 91.51%;
    bottom: 0;
    left: 0;
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumseagreen);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .players-stocks-item {
    width: 8.3%;
    right: 81.55%;
    left: 10.15%;
  }
  .players-stocks-child1,
  .players-stocks-child2,
  .players-stocks-child3,
  .players-stocks-child4,
  .players-stocks-child5,
  .players-stocks-child6,
  .players-stocks-inner,
  .rectangle-div {
    position: absolute;
    height: 100%;
    width: 8.3%;
    top: 0;
    right: 71.4%;
    bottom: 0;
    left: 20.3%;
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumseagreen);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .players-stocks-child1,
  .players-stocks-child2,
  .players-stocks-child3,
  .players-stocks-child4,
  .players-stocks-child5,
  .players-stocks-child6,
  .rectangle-div {
    width: 8.49%;
    right: 61.25%;
    left: 30.26%;
  }
  .players-stocks-child1,
  .players-stocks-child2,
  .players-stocks-child3,
  .players-stocks-child4,
  .players-stocks-child5,
  .players-stocks-child6 {
    right: 50.92%;
    left: 40.59%;
  }
  .players-stocks-child2,
  .players-stocks-child3,
  .players-stocks-child4,
  .players-stocks-child5,
  .players-stocks-child6 {
    right: 40.59%;
    left: 50.92%;
  }
  .players-stocks-child3,
  .players-stocks-child4,
  .players-stocks-child5,
  .players-stocks-child6 {
    width: 8.3%;
    right: 30.63%;
    left: 61.07%;
  }
  .players-stocks-child4,
  .players-stocks-child5,
  .players-stocks-child6 {
    right: 20.48%;
    left: 71.22%;
  }
  .players-stocks-child5,
  .players-stocks-child6 {
    width: 8.49%;
    right: 10.33%;
    left: 81.18%;
  }
  .players-stocks-child6 {
    right: 0;
    left: 91.51%;
  }
  .draftlist-inner,
  .players-stocks-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 542px;
    height: 36px;
  }
  .draftlist-inner {
    top: 204px;
    left: 26px;
    width: 294px;
    overflow-x: auto;
  }
  .player-2 {
    position: absolute;
    top: 259px;
    left: 28px;
    font-weight: 500;
    display: inline-block;
    width: 69px;
    height: 16px;
  }
  .frame-div {
    position: absolute;
    top: 285px;
    left: 26px;
    width: 294px;
    height: 36px;
    overflow-x: auto;
  }
  .player-3 {
    position: absolute;
    top: 338px;
    left: 28px;
    font-weight: 500;
    display: inline-block;
    width: 65px;
    height: 16px;
  }
  .draftlist-inner1,
  .draftlist-inner2 {
    position: absolute;
    top: 364px;
    left: 26px;
    width: 294px;
    height: 36px;
    overflow-x: auto;
  }
  .draftlist-inner2 {
    top: 443px;
  }
  .player-4 {
    position: absolute;
    top: 417px;
    left: 28px;
    font-weight: 500;
    display: inline-block;
    width: 65px;
    height: 16px;
  }
  .draftlist-inner3 {
    position: absolute;
    top: 515px;
    left: 26px;
    width: 294px;
    height: 36px;
    overflow-x: auto;
  }
  .player-5,
  .player-6 {
    position: absolute;
    top: 489px;
    left: 28px;
    font-weight: 500;
  }
  .player-6 {
    top: 561px;
    display: inline-block;
    width: 62px;
    height: 16px;
  }
  .draftlist-inner4 {
    position: absolute;
    top: 587px;
    left: 26px;
    width: 294px;
    height: 36px;
    overflow-x: auto;
  }
  .player-71 {
    position: absolute;
    top: 633px;
    left: 28px;
    font-weight: 500;
    display: inline-block;
    width: 64px;
    height: 16px;
  }
  .draftlist-inner5 {
    position: absolute;
    top: 659px;
    left: 26px;
    width: 294px;
    height: 36px;
    overflow-x: auto;
  }
  .player-8 {
    position: absolute;
    top: 705px;
    left: 28px;
    font-weight: 500;
    display: inline-block;
    width: 64px;
    height: 16px;
  }
  .draftlist-inner6 {
    position: absolute;
    top: 731px;
    left: 26px;
    width: 294px;
    height: 36px;
    overflow-x: auto;
  }
  .ellipse-div {
    position: absolute;
    top: 26px;
    left: 123px;
    border-radius: 50%;
    background-color: #d9d9d9;
    width: 147px;
    height: 20px;
  }
  .draftlist-child1 {
    position: absolute;
    top: 786px;
    left: 0;
    background-color: #306c43;
    width: 393px;
    height: 66px;
  }
  .ggprofile-icon {
    top: 804px;
    left: 119px;
    width: 30px;
    height: 30px;
  }
  .ggprofile-icon,
  .tablervs-icon,
  .vector-icon {
    position: absolute;
    overflow: hidden;
  }
  .vector-icon {
    height: 3.52%;
    width: 7.63%;
    top: 94.37%;
    right: 45.29%;
    bottom: 2.11%;
    left: 47.07%;
    max-width: 100%;
    max-height: 100%;
  }
  .tablervs-icon {
    top: 803px;
    left: 251px;
    width: 33px;
    height: 32px;
  }
  .mdihome-outline-icon,
  .vector-icon1 {
    position: absolute;
    top: 801px;
    left: 48px;
    width: 37px;
    height: 36px;
    overflow: hidden;
  }
  .vector-icon1 {
    height: 3.05%;
    width: 6.87%;
    top: 94.48%;
    right: 12.21%;
    bottom: 2.46%;
    left: 80.92%;
    max-width: 100%;
    max-height: 100%;
  }
  .draftlist {
    position: relative;
    background-color: #012b15;
    width: 100%;
    height: 852px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  