.new-password,
.reset-password {
  position: absolute;
  top: 343px;
  left: 116px;
  display: inline-block;
  width: 161px;
}
.new-password {
  top: 432px;
  left: 140px;
  font-weight: 500;
  width: 156px;
  height: 24px;
}
.forgot-password-child,
.forgot-password-item {
  position: absolute;
  top: 566.5px;
  left: 65.5px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-seagreen-100);
  box-sizing: border-box;
  width: 278px;
  height: 46px;
}
.forgot-password-item {
  top: 421px;
  left: 66px;
  background-color: var(--color-seagreen-200);
  border: 1px solid var(--color-limegreen);
  width: 277px;
  height: 45px;
}
.confirm-new-password {
  position: absolute;
  top: 510px;
  left: 95px;
  font-weight: 500;
  display: inline-block;
  width: 227px;
  height: 23px;
  cursor: pointer;
}
.forgot-password-inner {
  position: absolute;
  top: 499px;
  left: 66px;
  border-radius: var(--br-5xs);
  background-color: var(--color-seagreen-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  width: 277px;
  height: 45px;
}
.fantasy500,
.return-to-login {
  position: absolute;
  display: inline-block;
}
.return-to-login {
  top: 578px;
  left: 131px;
  font-weight: 500;
  width: 147px;
  height: 24px;
}
.fantasy500 {
  top: 211px;
  left: 132px;
  font-size: 35px;
  width: 209px;
}
.ellipse-div,
.forgot-password-child1 {
  position: absolute;
  top: 197px;
  left: 52px;
  border-radius: 50%;
  background-color: #71de9c;
  width: 70px;
  height: 70px;
}
.forgot-password-child1 {
  top: 26px;
  left: 123px;
  background-color: #d9d9d9;
  width: 147px;
  height: 20px;
}
.forgot-password {
  position: relative;
  background-color: #012b15;
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
